<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments/navbar}">
<meta charset="UTF-8">
<title>Weather</title>
</head>
<body>

	<div class="text-center">
		<br>
		<h2>Informações acerca do utilizador</h2>
		<h1></h1>

		<div class="p-2">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text=${userInfo.name}></td>
						<td th:text=${userInfo.email}></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>